__pycache__/
*.py[cod]
*$py.class

build/
dist/
downloads/

*.manifest
*.spec

.scrapy
.env
.venv
env/
venv/
selenium-windows/
chromedriver_win32_3/
ENV/
env.bak/
venv.bak/
windows/
.idea/
.vscode/
*.log